@font-face {
    font-family: 'socicon';
    src: url('../font/socicon.eot');
    src: url('../font/socicon.eot?#iefix') format('embedded-opentype'),
         url('../font/socicon.woff') format('woff'),
         url('../font/socicon.ttf') format('truetype'),
         url('../font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

.socicon {
    font-family: 'socicon' !important;
    color: #ffffff;
    padding: 3px;
    font-size: 1.2em;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}
* {
  overflow: auto;
}
body {
  font-family: Helvetica;
  width: 100%;
  margin: auto;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
nav li {
  display: inline-block;
}
nav, section {
  text-align: center;
 }
 ul {
    margin-left: -2em;
 }
.header-section {
  font-size: 2em;
  font-family: helvetica;
  height: 15em;
  padding-top: 4em;
}
h1 {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 2em;
}
h1:after, h1:before {
  top: 51%;
  width: 50%;
  content: "";
  position: absolute;
  overflow: hidden;
  height: 1px;
  background-color: #585050;
  margin-left: 2%;
}
h1:before {
  margin-left: -52%;
  text-align: right;
}
.section-orange > h1:before, .section-orange > h1:after {
  background-color: #fff;
}

.section-black > h1:before, .section-black > h1:after {
  background-color: #fff;
}
.subheader {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 2em;
}
.subheader:before, .subheader:after {
  top: 51%;
  width: 50%;
  content: "";
  position: absolute;
  overflow: hidden;
  height: 1px;
  background-color: #585050;
  margin-left: 2%;
}
.subheader-skills:before, .subheader-skills:after {
  background-color: #fff;
}
.subheader:before {
  margin-left: -52%;
  text-align: right;
}
.section-orange > .subheader:before, .section-orange > .subheader:after {
  background-color: #fff;
}
.secition-white > .subheader:before, .section-white > .subheader:after {
  background-color: #000;
}
.header-section {
  background-image: url("../imgs/top-bkgrnd.jpg");
}
.column-two {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.column-right {
  float: right;
}
.section-orange {
  background-color: #FF6124;
  color: #fff;
}

.section-black {
  background-color: #585050;
  color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

 .flex-item-1 {
  width: 21em;
  height: 20em;
  text-align: center;
}

.flex-item-2 {
  width: 22em;
  height: 20em;
  text-align: center;
}

.table-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 6em;
}

table {
  position: relative;
  float: left;
  width: 20%;
  margin-right: 1em;
  font-size: .8em;
}
th {
  background-color: #703A20;
  color: #fff;
}
tr {
  background-color: #fff;
  color: #000;
}
tr:not(.table-head) {
  border-bottom: .1em solid #FF6124;
}
td {
  padding-top: .5em;
  padding-bottom: .5em;
}
th, .table-price {
  padding: 1em;
}
.table-price {
  color: #FF6124;
}
.table-foot {
  background-color: #C1530D;
  color: #fff;
}
.button-signup {
  background-color: #FF6124;
  margin: 1em;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
}

progress {
  width: 70%;
  background-color: #FF6124;
}
progress::-moz-progress-bar {
  background: #FF6124;
}
progress::-webkit-progress-value {
  background-color: #FF6124;
}
.skill-list {
  font-size: .8em;
  text-align: left;
  margin-left: 15%;
  margin-bottom: auto;
}
.skills-para {
  padding: 2em 0;
}

.button-contact {
  margin-bottom: 2em;
  background-color: #FF6124;
  color: #fff;
  border: none;
  font-size: .8em;
  padding: 1em 2.5em;
}
.social-media{
	list-style-type: none;
}

.social-media a{
	text-decoration: none;
}

.social-media li{
	display: inline;
}

.social-media li:nth-of-type(1){
	background-color: #3b5998;
}
.social-media li:nth-of-type(2){
	background-color: #4099FF;
}
.social-media li:nth-of-type(3){
	background-color: #ea4c89;
}
.social-media li:nth-of-type(4){
	background-color: #007bb5;
}
.social-media li:nth-of-type(5){
	background-color: #fffc00;
}

.social-media li:hover{
	background-color: #FF6124;
}

footer{
	padding-top: 5%;
	text-align: center;
	padding-bottom: 10%;
}

footer a{
	text-decoration: none;
	color: #FF6124;
}

.contact-us{
	text-align: center;
}

.contact-us form{
	color: #606060;
}

.contact-us button{
	color: #FF6124;
}

.contact-us textarea{
	color: #606060;
	height: 40px;
	width: 25%;
	resize: none;
}

.contact-us div{
	height: 264px;
	width: 460px;
	background-image: url("./../imgs/sm-map.gif");
}

.contact-us div:hover{
	background-image: url("./../imgs/sm-map-hover.gif");
}

nav a{
  text-decoration: none;
  color: #686868;
  font-weight: bold;
  font-size: 1.15em;
}

nav{
  border-bottom: 2.5px solid #B8B8B8;
}

/* -- best practice not to use screen widths exactly -- */
/* -- media queries --*/
/* -- additional breakpoints may be needed --*/

@media only screen and (min-width: 320px) {

}
@media only screen and (min-width: 768px),
       only screen and (min-width: 700px) and (orientation: landscape) {
/* padding-left: 8em;
  padding-right: 8em;
*/
}

