html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}


body {
  width: 100%;
}
nav li {
  display: inline-block;
}

.header-section {
  background-image: url("../imgs/top-bkgrnd.jpg");
}

.section-orange {
  background-color: #FF6124;
  color: white;
}
