
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  overflow: auto;
}

body {
  margin: auto;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

nav li {
  display: inline-block;
}

nav, section {
  text-align: center;
 }

section {
  padding: 2em 5% 0;
}
img {
  max-width: 100%;
}
p {
  line-height: 1.5em;
  margin: auto 10%
}
h1 {
  position: relative;
  margin-bottom: 2em;
  margin-top: 2em;
  &:after, &:before {
    top: 51%;
    width: 32%;
    content: "";
    position: absolute;
    height: 1px;
    background-color: $about-background;
    margin-left: 3%;
  }
  &:before {
    margin-left: -35%;
    text-align: right;
  }
}

/* -- lines created on h1 -- */

%section-line {
  background-color: $serv-cont-background;
  color: #fff;
  > h1:before, > h1:after {
    background-color: #fff;
  }
  > .subheader:before, > .subheader:after {
    background-color: #fff;
  }
}


.services-section {
  padding-bottom: 2em;
  @extend %section-line
}

.contact-section {
  @extend .services-section;
}

.about-section {
  background-color: $about-background;
  color: #fff;
  > h1:before, > h1:after {
    background-color: #fff;
  }
}

.subheader {
  position: relative;
  margin-bottom: 2em;
  margin-top: 2em;
  &:before, &:after {
    top: 51%;
    width: 20%;
    content: "";
    position: absolute;
    height: 1px;
    background-color: $about-background;
    margin-left: 2%;
  }
  &:before {
    margin-left: -22%;
    text-align: right;
  }
}

.subheader-skills:before, .subheader-skills:after {
  background-color: #fff;
}

.portfolio-section > .subheader:before, .portfolio-section > .subheader:after {
  background-color: #000;
}
.team-section > .subheader:before, .team-section > .subheader:after {
  background-color: #000;
}


