/*- fonts -*/
$main-font: Helvetica, Arial, "Lucida Grande", sans-serif;

/*- colors -*/

$main-orange: #FF6124;
$main-black: #585050;

/*- social media icons -*/
$icons:(facebook 'b') (twitter 'a') (dribble, 'D') (linkedin 'j') (gplus 'c');
