/*- fonts -*/
$main-font: Helvetica, Arial, "Lucida Grande", sans-serif;

/*- colors -*/

$alpha: #FF6124;
$beta: #585050;
$gamma: #989595;
$omega: #703A20;
$kappa: #C1530D;

$serv-cont-background: $alpha;
$about-background: $beta;
$secondary-text: $gamma;
$form-background: $omega;
$table-head: $omega;
$table-foot: $kappa;

