@import "normalize";

@import "lib/INDEX";
// Definings
@import "variables";
@import "mixins";

// Global Styles
@import "globals";

//Components
@import "components/primary-header";
@import "components/pricing-table";
@import "components/portfolio-section";
@import "components/social-media";
@import "components/services-section";
@import "components/nav-bar";
@import "components/about-section";
@import "components/team-section";
@import "components/contact-section";
@import "components/footer";
@import "components/client-section";
/*---general page and components css---*/



/*---css for social media links/icon fonts ---*/
@font-face {
  font-family: 'icomoon';
  src:url('../font/icomoon.eot?-dtcabo');
  src:url('../font/icomoon.eot?#iefix-dtcabo') format('embedded-opentype'),
    url('../font/icomoon.ttf?-dtcabo') format('truetype'),
    url('../font/icomoon.woff?-dtcabo') format('woff'),
    url('../font/icomoon.svg?-dtcabo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media only screen and (max-width: 700px) {
  .nav-ul {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
  }
}
