/*---general page and components css---*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  overflow: auto;
}

body {
  margin: auto;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

nav {
  margin-left: -1em;
}
nav li {
  display: inline-block;
}

nav, section {
  text-align: center;
 }

section {
  padding: 2em 5% 0;
}

ul {
    margin-left: -1em;
}

img {
  max-width: 100%;
}

h1 {
  position: relative;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* -- lines created on h1 -- */

h1:after, h1:before {
  top: 51%;
  width: 32%;
  content: "";
  position: absolute;
  height: 1px;
  background-color: #585050;
  margin-left: 3%;
}

h1:before {
  margin-left: -35%;
  text-align: right;
}

header {
  margin-top: 3em;
  margin-bottom: -3em;
}

.section-orange > h1:before, .section-orange > h1:after {
  background-color: #fff;
}

.section-black > h1:before, .section-black > h1:after {
  background-color: #fff;
}

.clip {
  margin-left: 3em;
}

.subheader {
  position: relative;
  margin-bottom: 2em;
  margin-top: 2em;
}
.subheader:before, .subheader:after {
  top: 51%;
  width: 20%;
  content: "";
  position: absolute;
  height: 1px;
  background-color: #585050;
  margin-left: 2%;
}
.subheader-skills:before, .subheader-skills:after {
  background-color: #fff;
}
.subheader:before {
  margin-left: -22%;
  text-align: right;
}
.section-orange > .subheader:before, .section-orange > .subheader:after {
  background-color: #fff;
}
.section-white > .subheader:before, .section-white > .subheader:after {
  background-color: #000;
}

.column-two {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.column-right {
  float: right;
}
.section-orange {
  background-color: #FF6124;
  color: #fff;
  padding-bottom: 2em;
}

.section-black {
  background-color: #585050;
  color: #fff;
}

/*---Navigation menu css---*/

.nav-li {
  margin-left: 3em;
}

/*---main header css---*/
.header {
  font-size: 2em;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 17em;
  background-image: url("../imgs/top-bkgrnd.jpg");
}

/*---services section css---*/
.flex-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  -webkit-justify-content: center;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

 .flex-item-1 {
  width: 100%;
  height: 24em;
  text-align: center;
}

.flex-item-2 {
  width: 100%;
  height: 20em;
  text-align: center;
  margin-left: -.5em;
}
.flex-item-3 {
  width: 22%;
  height: 20em;
  text-align: center;
}
.flex-item-4 {
  width: 22.5%;
  text-align: center;
}

.table-section {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  padding-bottom: 3em;
  padding-right: 5%;
  padding-left: 5%;
  -webkit-justify-content: center;
}

table {
  position: relative;
  float: left;
  margin-right: 1em;
  font-size: .8em;
  margin-bottom: 2em;
}
th {
  background-color: #703A20;
  color: #fff;
}
tr {
  background-color: #fff;
  color: #000;
}
tr:not(.table-head) {
  border-bottom: .1em solid #FF6124;
}
td {
  padding-top: .5em;
  padding-bottom: .5em;
}
th, .table-price {
  padding: 1em;
}
.table-price {
  color: #FF6124;
}
.table-foot {
  background-color: #C1530D;
  color: #fff;
}
.button-signup {
  background-color: #FF6124;
  margin: 1em;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  color: #FFF;
}
.section-orange p, .section-black p {
  line-height: 1.5em;
}

/*---About and skills section css---*/
progress {
  width: 83%;
  background-color: #FF6124;
}
progress::-moz-progress-bar {
  background: #FF6124;
}
progress::-webkit-progress-value {
  background-color: #FF6124;
}
.skill-list {
  font-size: .8em;
  text-align: left;
  margin-left: 8.5em;
  margin-bottom: auto;
}
.skills-para {
  padding: 2em 0;
}

/*---portfolio section css---*/
nav a {
  text-decoration: none;
  color: #686868;
  font-weight: bold;
  font-size: 1.15em;
}

nav-a:hover {
  color: #000000;
}

nav ul {
  margin-left: -2em;
}


.portfolio-nav a:hover{
  background-color: #FF6124;
  color: #ffffff;
}

.portfolio-nav li{
  margin-right: 1em;
}

.carousel-lrg {
  width: 66.5em;
}

/*---Team and clients CSS---*/
.team-title {
  font-size: 1em;
  font-weight: 300;
  margin-top: -1.2em;
}

.button-contact {
  margin-bottom: 4em;
  background-color: #FF6124;
  color: #fff;
  border: none;
  font-size: .8em;
  padding: 1em 2.5em;
  font-weight: 500;
}
.face-pic {
  padding-bottom: 1em;
}
.team-para {
  font-size: .9em;
  margin: 1em;
}
.client-wrapper {
  display: inline-flex;
  display: -webkit-flex;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 3em;
}
.client-section {
  display: flex;
  display: -webkit-flex;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
  width: 100%;
}
.arrow {
  padding-bottom: 2em;
  margin-top: 4em;
}
.client-pic {
  width: 29%;
  height: 0%;
  display: block;
  min-width: 13%;
  margin-top: 2em;
}
.client-name {
  color: #FF6124;
  padding-left: 1em;
  margin-left: .7em;
}
.client-title {
  font-weight: 400;
  font-size: .8em;
}
.client-text {
  margin-left: 2em;
  padding-bottom: 2em;
  margin-right: 0;
}
.client-text-wrapper {
  margin-top: 1em;
}

/*---css for social media links/icon fonts ---*/
@font-face {
    font-family: 'socicon';
    src: url('../font/socicon.eot');
    src: url('../font/socicon.eot?#iefix') format('embedded-opentype'),
         url('../font/socicon.woff') format('woff'),
         url('../font/socicon.ttf') format('truetype'),
         url('../font/socicon.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.facebook:before {
  content: "b";
}

.twitter:before {
  content: "a";
}

.dribble:before {
  content: "D";
}

.linkedin:before {
  content: "j";
}

.gplus:before {
  content: "c";
}

.socicon {
  font-family: 'socicon';
  color: #ffffff;
  font-size: .9em;
  padding: 0 .5em;
}

.social-media{
  list-style-type: none;
  margin-left: -2em;
}

.social-media a{
  text-decoration: none;
}

.social-media li{
  display: inline;
}

.social-media li:nth-of-type(1){
  background-color: #3b5998;
}
.social-media li:nth-of-type(2){
  background-color: #4099FF;
}
.social-media li:nth-of-type(3){
  background-color: #ea4c89;
}
.social-media li:nth-of-type(4){
  background-color: #007bb5;
}
.social-media li:nth-of-type(5){
  background-color: #fffc00;
}

.social-media li:hover{
  background-color: #FF6124;
}

/*---Contact us section css---*/
.contact-us{
  text-align: center;
}

.contact-us form{
  color: #606060;
  width: 100%;
}

.contact-us button{
  color: #FF6124;
  font-weight: 500;
}

.contact-us textarea{
  color: #fff;
  height: 10em;
  width: 100%;
  padding-top: .8em;
}
.message-button {
  font-size: smaller;
  padding: .5em 1em;
  border: none;
  background-color: #fff;
}
.map-container {
  margin-top: 3em;
}
.map {
  width: 100%;
  background-image: url("./../imgs/sm-map.gif");
  background-repeat: no-repeat;
}

.map:hover{
  background-image: url("./../imgs/sm-map-hover.gif");
  background-repeat: no-repeat;
}

input, textarea {
  background-color: #703A20;
  border: none;
  width: 100%;
  padding-left: 1em;
  margin-bottom: 1em;
  color: #fff;
}

form {
  max-width: 100%;
}

::-webkit-input-placeholder {
   color: #fff;
   font-size: .8em;
}
:-moz-placeholder { /* Firefox 18- */
   color: #fff;
   font-size: .8em;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   font-size: .8em;
}
:-ms-input-placeholder {
   color: #fff;
   font-size: .8em;
}

/*---footer css---*/
footer {
  padding-top: 2em;
  text-align: center;
  padding-bottom: 5em;
}

footer p {
  margin-top: 2em;
}

footer a{
  text-decoration: none;
  color: #FF6124;
}

/* -- media queries --*/

@media only screen and (max-width: 700px) {
  div[class=carousel_portfolio] {
    display: block;
    background-image: url("./../imgs/portfolio-sm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 32em;
    height: 16em;
    max-width: 100%;
  }
  img[class="carousel-lrg"] {
    display: none;
  }
}

@media only screen and (min-width: 300px) and (max-width: 850px) {
  .awesome-sm {
    border-bottom: 3px solid #FF6124;
  }
  header > p {
    margin-bottom: .3em;
    padding-bottom: .3em;
  }
}
@media only screen and (min-width: 850px) {

}
@media only screen and (max-width: 850px) {
 .nav-li {
  font-size: .75em;
 }
}

@media only screen and (min-width: 700px), only screen and (min-width: 700px) and (orientation: landscape) {
  body {
    margin: 0 auto;
  }

  .contact-us form {
    width: 38%;
    height: 20em;
    margin-right: 3em;

  }
  .message-button {
    float: right;
  }
  .flex-item-1 {
    width: 31%;
  }
  .flex-item-2 {
    width: 31.5%;
  }
  p {
    margin-left: 10%;
    margin-right: 12%;
  }
  .column-right {
    width: 32em;
    margin-right: 16%;
  }
  .column-left {
    margin-left: 16%;
    width: 32em;
  }

}

@media only screen and (max-width: 1200px) {
  .flex-item-1 {
    width: 35%;
  }
  .flex-item-2 {
    width: 50%;
  }
   .flex-item-4 {
    width: 50%;
  }
  .team-para {
    max-width: 18em;
    display: inline-flex;
  }
}

@media only screen and (max-width: 1000px) {
  .flex-item-1 {
    width: 50%;
  }
}

@media only screen and (max-width: 750px) {
  .flex-item-2 {
    width: 100%;
  }
  .client-wrapper {
    display: block;
  }

}

@media only screen and (max-width: 700px) {
  .flex-item-1 {
    width: 60%;
  }
  .flex-item-3 {
    width: 33%;
  }
  .flex-item-4 {
    width: 100%;
  }
  .client-wrapper {
  display: block;
  }
  .nav-ul {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    -webkit-justify-content: center;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
  }
  .nav-li {
    font-size: 1em;
    margin-right: 2em;
    margin-bottom: .5em;
    border: 2px solid black;
    border-radius: .5em;
    padding: .4em;
  }
}

@media only screen and (max-width: 500px) {
  .flex-item-3 {
    width: 50%;
    line-height: 3em;
  }
}

@media only screen and (max-width: 1200px) {

}
