/*---Navigation menu css---*/

#home {
  border-bottom: 1px $secondary-text solid;
  a {
    text-decoration: none;
    color: $secondary-text;
    font-weight: bold;
    &:hover {
      color: #151515;
    }
  }
}

.nav-ul {
  @include flexbox;
}

.nav-li {
  padding-right: 3em;
  @media only screen and (max-width: 900px) {
      display: block;
      margin: 1em;
  }
}

