
/*---Team and clients CSS---*/

.team-container {
  width: 100%;
  @include flexbox;
  padding-left: 5%;
  padding-right: 5%;
}

.team-list {
  text-align: center;
  width: 20%;
  min-width: 17em;
  h2 {
    font-size: 1.25em;
  }
  h3 {
    font-size: .8em;
    color: #989595;
  }
}

.team-title {
  font-size: 1em;
  font-weight: 300;
  margin-top: -1.2em;
}

.face-pic {
  padding-bottom: 1em;
}

.team-para {
  font-size: .85em;
  margin: 1em 2em;
  @media only screen and (max-width: 1200px) {
    max-width: 18em;
    display: inline-flex;
  }
}

.client-wrapper {
  display: inline-flex;
  display: -webkit-flex;
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 3em;
  @media only screen and (max-width: 750px) {
    display: block;
  }
}

.client-section {
  display: flex;
  display: -webkit-flex;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
  width: 100%;
}

// .left-arrow {
// background-image: url("./../imgs/l-arrow.png") no-repeat;
// content: '';
// display: block;
// background-size: cover;
// background-position: center;
// height: 3em;
// }
// .right-arrow {
// background-image: url("./../imgs/r-arrow.png") no-repeat;
// background-size: cover;
// }

.arrow {
  padding-bottom: 2em;
  margin-top: 4em;
}
.client-pic-wrapper {
  margin-top: 2em;
}

.client-name {
  color: $serv-cont-background;
  padding-left: 1em;
  margin-left: .7em;
}
.client-title {
  font-weight: 400;
  font-size: .8em;
}
.client-text {
  margin-left: 2em;
  padding-bottom: 2em;
  margin-right: 0;
  font-size: .9em;
}
.client-text-wrapper {
  margin-top: 1em;
}
